# Generate Exposure Tables 

Given **source data (.xlsx)**, generate:

1. 노출기간별 (Duration)
2. 성별, 연령별 
3. 투여용량별 
4. 인종별

참고사항: 엑셀 컬럼 제목들은 중요하지 않으니 (예: 'Subject number'를 아무 문자열로 표현 가능 `0-9한글english.,/;:-+(){}[]!@#$%&*~`등), 컬럼들의 의미는 아래와같이 순서대로 매칭 되있어야합니다.

**source data (.xlsx) 제목 순서**

| A              | B   | C   | D    | E      | F        | G                  | H |
|----------------|-----|-----|------|--------|----------|--------------------|---|
| Subject number | Sex | Age | 인종 | Dosage (mg) | Duration (단위$^{1}$) | Person time (year) |  Comment etc.$^{2}$ |

* $^{1}$자동 인식 단위: day(s), week(s), month(s), year(s).
* $^{2}$컬럼 G가 마지막으로 읽히는 컬럼입니다.

### Code

Cell을 순서대로 선택하고 (오른 마우스 클릭) 파랗게 선택된 상태에 cell을 실행하세요 `Shift` + `Enter`
* Cell 옆에 별표 `[*]`은 계산중이나 사용자 입력을 기다리는 뜻을 의미합니다.
* 파일 업로드 후, `(1)` 표시 확인.
* 파일을 다시 업로드하는 경우, cell을 다시 실행 하세요. `(0)` 표시 확인.

In [1]:
import utility
uploaded = utility.prompt_upload("Source Data (.xlsx)")

FileUpload(value={}, description='Source Data (.xlsx)', layout=Layout(width='250px'))

에러나 다시 입력해야하는 경우의 위에 중지 (▣)을 누르시고, cell을 다시 실행하세요

In [5]:
df = utility.read_file(uploaded, sheet=1)
processed = utility.process_source_data(df)
processed

투여기간 단위: Day

,Subject number,sex,age,인종,튜여용량 (mg),튜여기간 (days),Person time (Year)
0,14.0,m,1.0,american indian or alaska native,2.5,182.0,0.498630
1,9.0,f,65.0,american indian or alaska native,5.0,182.0,0.498630
2,4.0,f,12.0,american indian or alaska native,10.0,182.0,0.498630
3,13.0,f,76.0,asian,0.0,84.0,0.230137
4,8.0,f,64.0,asian,2.5,84.0,0.230137
5,3.0,f,11.0,asian,5.0,84.0,0.230137
6,18.0,m,16.0,asian,20.0,85.0,0.232877
7,7.0,f,18.0,black or african american,0.0,42.0,0.115068
8,2.0,f,10.0,black or african american,2.5,42.0,0.115068
9,17.0,m,12.0,black or african american,15.0,43.0,0.117808
10,12.0,f,75.0,black or african american,21.0,42.0,0.115068
11,15.0,m,10.0,native hawaiian or other pacific islander,5.0,364.0,0.997260
12,10.0,f,66.0,native hawaiian or other pacific islander,10.0,364.0,0.997260
13,5.0,f,16.0,native hawaiian or other pacific islander,15.0,364.0,0.997260
14,1.0,f,1.0,white,0.0,0.0,0.000000
15,16.0,m,11.0,white,10.0,0.0,0.000000
16,11.0,f,74.0,white,15.0,0.0,0.000000
17,6.0,f,17.0,white,20.0,0.0,0.000000

In [5]:
t1 = utility.generate_duration(processed, dp=3, compute_total=True)
t1

****************************************
(1) 노출기간별 (Duration)
****************************************

  Duration of Exposure  Patients  Patient Year of Exposure (PYE)
0              < 1 Day         1                           0.000
1              ≥ 1 Day         1                           0.042
2            ≥ 6 Weeks         3                           0.750
3           ≥ 12 Weeks         9                           6.750
4           ≥ 26 Weeks         9                          14.750
5           ≥ 52 Weeks         3                           9.667
6                Total        26                          31.959

In [6]:
t2 = utility.generate_age_gender(processed, dp=2, compute_total=True) 
t2

****************************************
(2) 성별, 연령별
****************************************

  Age group - all indications Patients     Person time (person-year)
                                     M   F                         M      F
0               0 to 11 years        3   3                      3.92   0.75
1              12 to 17 years        3   3                      8.67   3.00
2              18 to 64 years        2   2                      0.75   3.67
3              65 to 74 years        3   3                      3.00   3.29
4                  ≥ 75 years        2   2                      3.67   1.25
5                       Total       13  13                     20.01  11.96

In [7]:
t3 = utility.generate_dose(processed, dp=2, compute_total=True)
t3

****************************************
(3) 투여용량별
****************************************

  Daily Dose of Exposure  Patients  Patient Year of Exposure (PYE)
0               ≤ 2.5 mg        10                           13.25
1     > 2.5 mg to ≤ 5 mg         4                            5.25
2      > 5 mg to ≤ 10 mg         4                            3.21
3     > 10 mg to ≤ 15 mg         4                            4.25
4     > 15 mg to ≤ 20 mg         4                            6.00
5                > 20 mg         0                            0.00
0                  Total        26                           31.96

In [9]:
t4 = utility.generate_race(processed, dp=2, compute_total=True)
t4

****************************************
(4) 인종별
****************************************

'Other' 인종 그룹 만들기 (y/n):  y

    (0) american indian or alaska native
    (1) asian
    (2) black or african american
    (3) native hawaiian or other pacific islander
    (4) white
    (5) 종료

'Other'에 해당하는 행을 선택하세요; 숫자를 쉼표로 (,) 구분 (예: 0, 1, 3):  0, 3

    선택: ['american indian or alaska native'
 'native hawaiian or other pacific islander']

                        Race Patients (n [%])  Person Time (subject-year)
0                      Asian        5 (19.23)                        7.25
1  Black Or African American        5 (19.23)                        5.17
2                      White        6 (23.08)                        5.67
3                      Other       10 (38.46)                       13.88
4                      Total       26 (100.0)                       31.96

파일 내보내기: 
1. `export("파일 이름.xlsx", ...)`함수안에 원하는 파일 이름으로 편집 (끝에 ".xlsx"은 필수).
2. Cell을 선택하고 실행 해주세요 (`Shift` + `Enter`).
3. 왼쪽 파일 탐색기에서 엑셀 파일이 만들어집니다. 만들어진 파일에 오른쪽 마우스 클릭을 누르시고 `download` 옵션을 선택하세요.

In [14]:
utility.export("파일 이름.xlsx", [t1, t2, t3, t4])

#### 프로그램 종료: 브라우저 창을 닫은 후, 저장에 대한 메시지가 나타나면 저장 안 함을 클릭하세요