# Generate Exposure Tables 

Given **source data (.xlsx)**, generate:

1. 노출기간별 (Duration)
2. 성별, 연령별 
3. 투여용량별 
4. 인종별

참고사항: 엑셀 컬럼 제목들은 중요하지 않으니 (예: 'Subject number'를 아무 문자열로 표현 가능 `0-9한글english.,/;:-+(){}[]!@#$%&*~`등), 컬럼들의 의미는 아래와같이 순서대로 매칭 되있어야합니다.

**source data (.xlsx) 제목 순서**

| A              | B   | C   | D    | E      | F        | G                  | H |
|----------------|-----|-----|------|--------|----------|--------------------|---|
| Subject number | Sex | Age | 인종 | Dosage (mg) | Duration (단위$^{1}$) | Person time (year) |  Comment etc.$^{2}$ |

* $^{1}$자동 인식 단위: day(s), week(s), month(s), year(s).
* $^{2}$컬럼 G가 마지막으로 읽히는 컬럼입니다.

### Code

Cell을 순서대로 선택하고 (오른 마우스 클릭) 파랗게 선택된 상태에 cell을 실행하세요 `Shift` + `Enter`
* Cell 옆에 별표 `[*]`은 계산중이나 사용자 입력을 기다리는 뜻을 의미합니다.
* 파일 업로드 후, `(1)` 표시 확인.
* 파일을 다시 업로드하는 경우, cell을 다시 실행 하세요. `(0)` 표시 확인.

In [1]:
import utility
uploaded = utility.prompt_upload("Source Data (.xlsx)")

FileUpload(value={}, description='Source Data (.xlsx)', layout=Layout(width='250px'))

에러나 다시 입력해야하는 경우의 위에 중지 (▣)을 누르시고, cell을 다시 실행하세요

In [15]:
df = utility.read_file(uploaded, sheet=1)
processed = utility.process_source_data(df)

투여기간 단위: Day

In [25]:
t1 = utility.generate_duration(processed, dp=3, compute_total=True)
t1

****************************************
(1) 노출기간별 (Duration)
****************************************

  Duration of Exposure  Patients  Patient Year of Exposure (PYE)
0              < 1 Day         4                           0.000
1              ≥ 1 Day         0                           0.000
2            ≥ 6 Weeks         4                           0.463
3           ≥ 12 Weeks         4                           0.923
4           ≥ 26 Weeks         3                           1.496
5           ≥ 52 Weeks         3                           2.992
6                Total        18                           5.874

In [17]:
t2 = utility.generate_age_gender(processed, dp=2, compute_total=True) 
t2

****************************************
(2) 성별, 연령별
****************************************

  Age group - all indications Patients     Person time (person-year)
                                     M   F                         M     F
0               0 to 11 years        3   3                      1.50  0.35
1              12 to 17 years        2   3                      0.35  1.50
2              18 to 64 years        0   2                      0.00  0.35
3              65 to 74 years        0   3                      0.00  1.50
4                  ≥ 75 years        0   2                      0.00  0.35
5                       Total        5  13                      1.85  4.05

In [18]:
t3 = utility.generate_dose(processed, dp=2, compute_total=True)
t3

****************************************
(3) 투여용량별
****************************************

  Daily Dose of Exposure  Patients  Patient Year of Exposure (PYE)
0               ≤ 2.5 mg         6                            1.19
1     > 2.5 mg to ≤ 5 mg         3                            1.73
2      > 5 mg to ≤ 10 mg         3                            1.50
3     > 10 mg to ≤ 15 mg         3                            1.12
4     > 15 mg to ≤ 20 mg         2                            0.23
5                > 20 mg         1                            0.12
0                  Total        18                            5.89

In [13]:
t4 = utility.generate_race(processed, dp=2, compute_total=True)
t4

****************************************
(4) 인종별
****************************************

'Other' 인종 그룹 만들기 (y/n):  n

,Race,Patients (n [%]),Person Time (subject-year)
0,American Indian Or Alaska Native,3 (16.67),1.50
1,Asian,4 (22.22),0.92
2,Black Or African American,4 (22.22),0.46
3,Native Hawaiian Or Other Pacific Islander,3 (16.67),2.99
4,White,4 (22.22),0.00
5,Total,18 (100.0),5.87

파일 내보내기: 
1. `export("파일 이름.xlsx", ...)`함수안에 원하는 파일 이름으로 편집 (끝에 ".xlsx"은 필수).
2. Cell을 선택하고 실행 해주세요 (`Shift` + `Enter`).
3. 왼쪽 파일 탐색기에서 엑셀 파일이 만들어집니다. 만들어진 파일에 오른쪽 마우스 클릭을 누르시고 `download` 옵션을 선택하세요.

In [14]:
utility.export("파일 이름.xlsx", [t1, t2, t3, t4])